---
layout: default
---
{%- assign _images = site.galleryImages -%}
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
                {%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
            </header>
			{%- for image in site.static_files -%}
				{% if image.path contains 'images/gallery' %}
					<img src="{{ site.baseurl }}{{ image.path }}" width="1000" height="600"/>
				{% endif %}
            {%- endfor -%}
	  </div>
	</article>
</div